@model RentalContract
@using CarRent.Data
@{
    ViewData["Title"] = "RentalContract";
    var categoryString = Context.Request.Query["category"];
    decimal price = 0;
    if (!string.IsNullOrEmpty(categoryString) && Enum.TryParse<CarCategory>(categoryString, out var category))
    {
        price = (decimal)category;
        ViewBag.Category = price;
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RentalContract</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body>
    <div class="container">
        <h1>Rental Contract</h1>
        <form asp-action="Remove">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Reservation.Customer.FirstName" class="control-label"></label>
                <input asp-for="Reservation.Customer.FirstName" type="text" class="form-control" id="firstName" name="firstName" readonly />
                <span asp-validation-for="Reservation.Customer.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.Customer.LastName" class="control-label"></label>
                <input asp-for="Reservation.Customer.LastName" type="text" class="form-control" id="lastName" name="lastName" readonly />
                <span asp-validation-for="Reservation.Customer.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.Customer.Address" class="control-label"></label>
                <input asp-for="Reservation.Customer.Address" type="text" class="form-control" id="address" name="address" readonly />
                <span asp-validation-for="Reservation.Customer.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.Customer.City" class="control-label"></label>
                <input asp-for="Reservation.Customer.City" type="text" class="form-control" id="city" name="city" readonly />
                <span asp-validation-for="Reservation.Customer.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.Car.Nr" class="control-label"></label>
                <input asp-for="Reservation.Car.Nr" type="text" class="form-control" id="carNr" name="carNr" readonly />
                <span asp-validation-for="Reservation.Car.Nr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.Car.Brand" class="control-label"></label>
                <input asp-for="Reservation.Car.Brand" type="text" class="form-control" id="brand" name="brand" readonly />
                <span asp-validation-for="Reservation.Car.Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.Car.ModelType" class="control-label"></label>
                <input asp-for="Reservation.Car.ModelType" type="text" class="form-control" id="ModelType" name="ModelType" readonly />
                <span asp-validation-for="Reservation.Car.ModelType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.StartDate" class="control-label"></label>
                <input asp-for="Reservation.StartDate" type="text" class="form-control" id="startDate" name="startDate" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Reservation.EndDate" class="control-label"></label>
                <input asp-for="Reservation.EndDate" type="text" class="form-control" id="endDate" name="endDate" readonly />
            </div>
            <button type="submit" asp-route-resId="@Model.Id" class="btn btn-danger" id="submit" style="margin-top:10px">Remove</button>
        </form>
        <div class="fixed-bottom text-end" style="margin: 0px 150px 75px 0px">
            <a class="btn btn-secondary" asp-action="Index">&#8592 Back</a>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var reservedDates = @Html.Raw(ViewData["ReservedDates"]);

            function calculateTotalFee() {
                var startDateInput = document.getElementById('startDate');
                var endDateInput = document.getElementById('endDate');
                var totalFeeInput = document.getElementById('totalFee');

                var startDate = new Date(startDateInput.value);
                var endDate = new Date(endDateInput.value);

                if (startDate && endDate && startDate <= endDate) {
                    var totalDays = Math.floor((endDate - startDate) / (1000 * 60 * 60 * 24)) + 1;
                    var totalFee = totalDays * @price;
                    totalFeeInput.value = totalFee;
                    document.getElementById('submit').disabled = false;
                } else {
                    totalFeeInput.value = 'Invalid Date';
                    document.getElementById('submit').disabled = true;
                }
            }

            flatpickr('#startDate', {
                enableTime: false,
                dateFormat: 'Y-m-d',
                minDate: 'today',
                disable: reservedDates,
                onChange: function () {
                    calculateTotalFee();
                }
            });

            flatpickr('#endDate', {
                enableTime: false,
                dateFormat: 'Y-m-d',
                minDate: 'today',
                disable: reservedDates,
                onChange: function () {
                    calculateTotalFee();
                }
            });
        });
    </script>
</body>
</html>
