@model Reservation
@using CarRent.Data
@{
    ViewData["Title"] = "Reservation";
    var categoryString = Context.Request.Query["category"];
    decimal price = 0;
    if (!string.IsNullOrEmpty(categoryString) && Enum.TryParse<CarCategory>(categoryString, out var category))
    {
        price = (decimal)category;
        ViewBag.Category = price;
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Car Reservation</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body>
    <div class="container">
        <h1>Car Reservation</h1>
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Customer.FirstName" class="control-label"></label>
                <input asp-for="Customer.FirstName" type="text" class="form-control" id="firstName" name="firstName" />
                <span asp-validation-for="Customer.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.LastName" class="control-label"></label>
                <input asp-for="Customer.LastName" type="text" class="form-control" id="lastName" name="lastName" />
                <span asp-validation-for="Customer.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Address" class="control-label"></label>
                <input asp-for="Customer.Address" type="text" class="form-control" id="address" name="address" />
                <span asp-validation-for="Customer.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.City" class="control-label"></label>
                <input asp-for="Customer.City" type="text" class="form-control" id="city" name="city" />
                <span asp-validation-for="Customer.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" type="text" class="form-control" id="startDate" name="startDate" />
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" type="text" class="form-control" id="endDate" name="endDate" />
            </div>
            <div class="form-group">
                <label asp-for="TotalFee" class="control-label"></label>
                <input asp-for="TotalFee" type="text" class="form-control" id="totalFee" name="totalFee" readonly />
            </div>
            <button type="submit" class="btn btn-primary" id="submit" style="margin-top:10px" disabled>Submit</button>
        </form>
        <div class="fixed-bottom text-end" style="margin: 0px 150px 75px 0px">
            <a class="btn btn-secondary" asp-action="Back" asp-controller="Cars">&#8592 Back</a>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            function calculateTotalFee() {
                var startDateInput = document.getElementById('startDate');
                var endDateInput = document.getElementById('endDate');
                var totalFeeInput = document.getElementById('totalFee');

                var startDate = new Date(startDateInput.value);
                var endDate = new Date(endDateInput.value);

                if (startDate && endDate && startDate <= endDate) {
                    var totalDays = Math.floor((endDate - startDate) / (1000 * 60 * 60 * 24)) + 1;
                    var totalFee = totalDays * @price; 
                    totalFeeInput.value = totalFee;
                    document.getElementById('submit').disabled = false;
                } else {
                    totalFeeInput.value = 'Invalid Date';
                    document.getElementById('submit').disabled = true;
                }
            }

            flatpickr('#startDate', {
                enableTime: false,
                dateFormat: 'Y-m-d',
                onChange: function () {
                    calculateTotalFee();
                }
            });

            flatpickr('#endDate', {
                enableTime: false,
                dateFormat: 'Y-m-d',
                onChange: function () {
                    calculateTotalFee();
                }
            });
        });
    </script>



</body>
</html>
